body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --h-font-family: "Give You Glory", cursive;
  --p-f-family: "Open Sans", sans-serif;
  --secondery-color: #ea5635;
}
:root img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a{
  text-decoration: none;
  padding: 0 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--h-font-family);
  /* display: block; */
  text-align: center;
}
h1 {
  font-size: 56px;
}
h3{
  font-size: 25;
}
.tussen {
  color: var(--secondery-color);
}
/* header */
header {
  position: sticky;
  top: 0px;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.857);
}
.header-logo {
  display: inline-block;
  width: 100px;
}
.relative-navbar {
  position: relative;
}
.relative-navbar a,
.bekijk a,
.bekijk span {
  color: var(--secondery-color);
  margin: 0;
  padding: 3px;
  /* font-size:  */
}
.relative-navbar a:hover {
  border-bottom: var(--secondery-color) 3px solid;
}
.relative-navbar {
  border-bottom: grey 3px solid;
}
.relative-navbar ul {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  margin: 0 1.5%;
}
.inschrijver-contact {
  position: absolute;
  display: flex;
  padding: 3px;
  margin: 0 0;
  right: 20px;
  border: black solid 1px;
  list-style: none;
  border: none;
}
.inschrijver-contact a {
  color: black;
}
.header-img {
  position: relative;
  background-image: url(img/background-header.jpg);
  /* background-size: 100%; */
  /* width: 100%; */
  height: 1000px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  margin: 0;
}
.header-img h1{
  padding: 250px 0 0 100px ;
  margin: 0;
  text-align: left;
}
.btn{
  position: absolute; 
  top: 325px;
  left: 200px;
  width: 100px;
  padding: 10px;
  background-color: var(--secondery-color);
  color: white;
 margin-top: 100px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover{
  background-color: white;
  color: var(--secondery-color);
}
.btn-alle-zwitsel{
  position: inherit;
width: 150px;
}
/* main  */
.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4.1fr);
  grid-gap: 1rem;
  margin: 10px 5%;
}
.container-grid{
  border-radius: 30px;
  /* border: black solid 2px; */
  position: relative;
  text-align: center;
  color: white;
}
/* .container-grid:hover{
  background-color: rgb(174, 233, 213);
} */
/* transform: translate(-50% -50%); */
.container-grid a{
  text-decoration: none;
  color: white;
}
.container-grid img{
  border: 1px red solid;
  border-radius: 20px;
  position: center center/cover;
  /* height: 100%; */
  size: cover;
}
.textinphoto{
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.Zwang{
  grid-column-start: 1;
  grid-column-end: 4;
}
.pasgeboren{
  grid-column-start: 4;
  grid-column-end: 7;
}
.baby{
  grid-column-start: 1;
  grid-column-end: 3;
}
.drewmes{
  grid-column-start:3;
  grid-column-end: 5;
}
.peuteer{
  grid-column-start: 5;
  grid-column-end: 7;
}
.stapvoorstap{
  grid-column-start: 1;
  grid-column-end: 3;
}
.tipsvooreen{
  grid-column-start:3;
  grid-column-end: 5;
}
.luierverschonen{
  grid-column-start: 5;
  grid-column-end: 7;
}
.tipsvoorsnacht{
  grid-column-start: 2;
  grid-column-end: 4;
}
.jekindje{
  grid-column-start: 4;
  grid-column-end: 6;
}
/* section */
.alle-zwitsel{
  display: flex;
  justify-items: flex-end;
  font-family: var(--p-f-family);
  background-image: url(img/alle-zwitsal.webp);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  height: 1500px;
}
.alle-switselhedderenparagraph{
  /* background-color: aqua; */
  position: absolute;
  right: 50px;
  width: 500px;
  margin: 200px 0 0 0;
  height: 800px;
}
.alle-switselhedderenparagraph button{
  display:inline;
  position: absolute;
  background-color: var(--secondery-color);
  border-radius: 10px;
  padding: 10px;
  /* margin-top: 50px;
  margin-bottom: 0; */
  cursor: pointer;
}
.alle-switselhedderenparagraph button:hover{
  background-color: white;
  color: var(--secondery-color);
}
.aap{

  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0 5%;
}
 .zwitsalbabynamen-text{
  padding:20px;
} 
.aap-photo{
  padding: 10px;
  background: var(--secondery-color);
  border-radius: 10px;
  cursor: pointer;

}
.aap-photo:hover{
  background-color: white;
}
.win1jaar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin: 5%;

}
.win1jaar-text{
  padding: 10px;
  /* margin-top:px; */
  border: solid black 2px;
}
.maak-kans{
position: relative;
  align-items: flex-end;
  background-color: var(--secondery-color);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 25px;

}
.maak-kans:hover{
  background-color: white;}
footer{
  padding: 10%;
  display: flex;
  flex-wrap: warp;
  justify-content: space-around;
  margin: 5%;
border: 1px black solid;
height: 200px;
background-color: #f3ed9f
}
.footer-form{
  margin: 50px;
}
.schrijf{
  display: inline-block ;
}
label{
  padding: 10px;
  background-color: var(--secondery-color);
  border-radius: 10px;
}
footer img{
width: 400px;}