html {
  box-border: border-box;
}
:root {
  --h-font-family: "Give You Glory", cursive;
  --p-f-family: "Open Sans", sans-serif;
  --secondery-color: #ea5635;
}
h1,
h2,
h3, h4,
h5,
h6 {
  font-family: var(--h-font-family);
  display: block;
  text-align: center;
}
h1 {
  font-size: 56px;
}
.tussen {
  color: var(--secondery-color);
}
a {
  text-decoration: none;
  padding: 0 10px;
}
/*/////////////////////////// header */
header {
  position: sticky;
  top: 0px;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.857);
}
.header-logo {
  display: inline-block;
}
.relative-navbar {
  position: relative;
}
.relative-navbar a,
.bekijk a,
.bekijk span {
  color: var(--secondery-color);
  margin: 0;
  padding: 3px;
  /* font-size:  */
}
.relative-navbar a:hover {
  border-bottom: var(--secondery-color) 3px solid;
}
.relative-navbar {
  border-bottom: grey 3px solid;
}
.relative-navbar ul {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  margin: 0 1.5%;
}
.inschrijver-contact {
  position: absolute;
  display: flex;
  padding: 3px;
  margin: 0 0;
  right: 20px;
  border: black solid 1px;
  list-style: none;
  border: none;
}
.inschrijver-contact a {
  color: black;
}
.header-img {
  position: relative;
  background-image: url(img/background-header.jpg);
  /* padding: 200px; */
  text-align: center;
  /* no-repeat center bottom/cover ; */
  background-size: 100%;
  max-width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  /* background-size: cover; */
  margin: 0;
}
.header-een {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 400px;
  color: var(--secondery-color);
  /* padding: 100px 0 0 75px; */
}
.header-button {
  position: absolute;
  bottom: 100px;
  left: 100px;
  color: white;
  background-color: var(--secondery-color);
  padding: 10px;
  margin: 20px;
  border-radius: 7px;
}
.header-button:hover {
  background-color: white;
  color: var(--secondery-color);
}
/* main */
.zwangerschap-pasgeboren {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem 5%;
  /* flex-wrap: warp; */
}
.zwangerschap-pasgeboren a {
  font-family: var(--h-font-family);
  color: wheat;
}
 .zwangerschap,
.pasgeboren,
.baby,
.drewmes,
.peuter,
.stap-voor-stap,
.tips-voor-een,
.luier,
.jekindje,
.tipsvoor,
.image-button /* <-- use reusable classses */{
  background-repeat: no-repeat;
  text-align: center;
  backgroudn-size:cover;
  /* justify-items: center; */
  background-position: center center;
  background-origin: cover;
  border-radius: 20px;
  /* background-attachment: fixed; */
  border: black solid 1px;
  /* width: 100%; */
}
.zwangerschap {
  background-image: url(img/zwangerscheep.jpg);
}
.zwangerschap h3 {
  justify-items: center;
  align-items: center;
}
.zwangerschap h3 {
  color: black;
}
.pasgeboren {
  background-image: url(img/pasgeboren.jpg);
}
.babydrewmespeuter h3{
  padding: 50px;
}
.babydrewmespeuter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 1rem;
  margin: 0 5%;
}

.babydrewmespeuter a ,.jekindje a,.tipsvoor a{
  font-family: var(--h-font-family);
  color: wheat;
}
.baby {
  background-image: url(img/baby.jpg);
}
.drewmes {
  background-image: url(img/dreumes.jpg);
}
.peuter {
  background-image: url(img/peuter.jpg);
}
.stap-voor-stap {
  background-image: url(img/stap-voor-stap.jpg);
}
.tips-voor-een {
  background-image: url(img/tips-voor-7.jpg);
}
.luier {
  background-image: url(img/luier.jpg);
}
.tipsvoor-jekindje {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 20%;
}
.tipsvoor {
  background-image: url(img/tips-voor-snacht.webp);
}
.jekindje {
  background-image: url(img/tips-voor-je-kindje.jpg);
}
.bekijk a {
  display: block;
  text-align: center;
}
.bekijk span {
  font-family: var(--h-font-family);
}
.alle-zwitsal{
  background-image: url(img/alle-zwitsal.webp) ;
  background-size: cover;
  /* background-width:100%; */
  background-repeat: no-repeat;
  /* height: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.alle-zwitsal h1{
  width: 550px;
  padding: 20px 5px;
  margin: 200px 0;
}
.alle-zwitsel-p {
  /* font-family: var(--h-font-family); */
  font-size: 1.5rem;
  padding: 30px 5px;
  font-family: var(--p-f-family);
  width: 600px;
  margin: 200px 0 200px 0;
}
.btn{
  color: white;
  background-color: var(--secondery-color);
  padding: 10px;
  margin: 20px;
  border-radius: 7px;
}
.btn:hover{
  background-color: white;
  color: var(--secondery-color);
}
