
body{
  box-sizing: border-box;

}.foto-1{
  display: inline-block;
  background-image: url(img/zwangerscheep.jpg);
  background-repeat: no-repeat;
  position: center center;
  background-size: cover;
}
.foto-2{
  display: inline-block;
  background-image: url(img/zwangerscheep.jpg);
  background-repeat: no-repeat;
  /* position: center center; */
  /* background-size: 100%; */
}
/*  */
/*  */
.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4.1fr);
  grid-gap: 1rem;
  
}
.container-grid{
  border-radius: 30px;
  /* border: black solid 2px; */
  position: relative;
  text-align: center;
  color: white;
}
/* transform: translate(-50% -50%); */
.container-grid a{
  text-decoration: none;
  color: white;
}
.container-grid img{
  border: 1px red solid;
  border-radius: 20px;

  position: center center/cover;
  /* height: 100%; */
  size: cover;

}
.textinphoto{
  position: absolute;
  bottom: 10%;
  left: 10%;
}

